@use "../abstract/mixin" as mixin;

.footer {
  margin-top: var(--space-primary);
  background-color: var(--footer-bg);
  .wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-primary);
    padding-top: var(--space-primary);
    padding-bottom: var(--space-primary);
    @include mixin.media-querie("laptop") {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
