@use "../abstract/mixin" as mixin;

:root {
  --main-color: $(keycolor);
  --font-family: $(font.body.family);
  --font-size: $(font.body.size);
  --default-font: "Roboto", sans-serif;
  --width-container: $(width.container);
  --width-sidebar: $(width.sidebar);
  --space-primary: 1rem;
  @include mixin.media-querie("tablet") {
    --space-primary: $(spacing.primary);
  }
}

:root {
  // Global
  --body-bg: $(light.body.bg);
  --text-color: $(light.text.color);
  // Header
  --main-header-bg: $(light.main.header.bg);
  --top-header-bg: $(light.top.header.bg);
  --bottom-header-bg: $(light.bottom.header.bg);

  --top-header-color: $(light.top.header.color);
  --bottom-header-color: $(light.bottom.header.color);
  // Logotipo
  --logo-title: $(light.logo.title);
  --logo-subtitle: $(light.logo.subtitle);
  // Menu
  --menu-link: $(light.menu.color);
  // Footer
  --footer-bg: $(light.footer.bg);
}
