:root {
  --main-color: $(keycolor);
  --font-family: $(font.body.family);
  --font-size: $(font.body.size);
  --default-font: "Roboto", sans-serif;
  --width-container: $(width.container);
  --width-sidebar: $(width.sidebar);
}
