@use "variables" as var;

@mixin media-querie($size, $media: "min") {
  @if $size == "wide" {
    $size: var.$xxl;
  }
  @if $size == "desktop" {
    $size: var.$xl;
  }
  @if $size == "laptop" {
    $size: var.$lg;
  }
  @if $size == "tablet" {
    $size: var.$md;
  }
  @if $size == "mobile" {
    $size: var.$sm;
  }
  // Decrement 1px if "media" value is equal to "max"
  @if $media == "max" {
    $size: $size - 1px;
  }

  @media (#{$media}-width: $size) {
    @content;
  }
}
