<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html b:css="false" b:css="false">
  <head>
    <title>
      <data:view.title.escaped/>
    </title>
    <b:skin>
    </b:skin>
  </head>
  <body>
    <div class="template">
      {{> header}}
      <main class="main">
        <b:section id="content"/>
      </main>
      {{> footer}}
    </div>
  </body>
</html>