<footer class="footer">
  <div class="container">
    <div class="wrap">
      <div class="footer-sidebar">
        <b:section id='footer-1'>
          <b:widget id='HTML123' type='HTML' title='Footer 1' visible='true' version='2' />
        </b:section>
      </div>

      <div class="footer-sidebar">
        <b:section id='footer-2'>
          <b:widget id='HTML124' type='HTML' title='Footer 2' visible='true' version='2' />
        </b:section>
      </div>

      <div class="footer-sidebar">
        <b:section id='footer-3'>
          <b:widget id='HTML126' type='HTML' title='Footer 3' visible='true' version='2' />
        </b:section>
      </div>
    </div>
  </div>
</footer>
