<header class="header">
  <b:if cond='["true", "false"] contains data:skin.vars.s_topHeader ? data:skin.vars.s_topHeader : false'>
    <div class="top-header">
      <div class="container">
        <div class="wrap">
          <b:section id='top-header'>
            <b:widget id='HTML222' type='HTML' title='Header top' locked='false' version='2' />
          </b:section>
        </div>
      </div>
    </div>
  </b:if>

  <div class="main-header">
    <div class="container">
      <div class="wrap">
        <b:section id='main-header'>
          <b:widget id='Header1' locked='false' title='Título (Encabezado)' type='Header' visible='true' />
          <b:widget id='PageList1' locked='false' title='Páginas' type='PageList' visible='true' />
        </b:section>
      </div>
    </div>
  </div>

  <b:if cond='["true", "false"] contains data:skin.vars.s_bottomHeader ? data:skin.vars.s_bottomHeader : false'>
    <div class="bottom-header">
      <div class="container">
        <div class="wrap">
          <b:section id='bottom-header'>
            <b:widget id='HTML111' type='HTML' title='Header top' locked='false' version='2' />
          </b:section>
        </div>
      </div>
    </div>
  </b:if>
</header>
